.stockopedia-subscription-box-container {
  min-height: 100px;
  background-color: white;
  border-radius: 10px;
  max-width: 100%;
  color: black;
  cursor: pointer;
  border: 3px solid white;
  margin: 10px;
}

.active {
  background-color: lightblue;
  border: 3px solid black;
}
