.stockopedia-app-container {
  min-height: 100vh;
  background-color: #eef2f9;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  padding-bottom: 50px;
}

.stockopedia-subscription-container {
  text-align: center;
  color: black;
  grid-column-start: 3;
  grid-column-end: 11;
}
